In [197]:
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind

In [198]:
df=pd.read_csv("DatasetW7.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [199]:
df.head(10)

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21
5  female        completed           40
6    male             none           30
7  female             none           12
8    male             none           18
9    male             none           24

### 1. Carry out descriptive analytics on the dataset.

In [200]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

### 2. Check whether female and male students scored the same marks.

In [201]:
# Hypothesis male_mean=female_mean
a=df.groupby('Gender')[['Total Marks']].mean()
a

        Total Marks
Gender
female    33.750000
male      30.416667

In [202]:
#T-test
data1 = df.loc[df['Gender']=='male']
print(data1)
data2=df.loc[df['Gender']=='female']
print(data2)

   Gender Test preparation  Total Marks
0    male             none           14
6    male             none           30
8    male             none           18
9    male             none           24
10   male        completed           44
11   male             none           23
12   male        completed           43
13   male             none           28
18   male             none           47
19   male             none           36
20   male             none           14
21   male        completed           44
    Gender Test preparation  Total Marks
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
7   female             none           12
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [203]:
# Null hypothesis : Marks scored by male and female students are not same.
# Alternative hypothesis:Marks scored by male and female students are same.
# level of significance=5%=0.05

In [204]:
#degrees of freedom:
degree=(len(data1)-1)+(len(data2)-1)
degree

26

In [205]:
# T critical value
t_critic = stats.t.ppf(q=1-0.05/2, df=degree)
t_critic

2.055529438642871

In [206]:
# test statistics
ttest,pval = stats.ttest_ind(data1['Total Marks'], data2['Total Marks'])
ttest,pval

(-0.6940885268848668, 0.4937822317960763)

In [207]:
if (abs(ttest)>t_critic)&(pval<0.05):
    print('We are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

we are accepting null hypothesis

In [208]:
stats.ttest_ind(df['Total Marks'][df['Gender']=='male'],
              df['Total Marks'][df['Gender']=='female'])

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

##### Inference: This shows that the marks scored by male and female students are NOT same

### 3. Whether test preparation helps the students?

In [210]:
#T-test

data3 = df.loc[df['Test preparation']=='none']
print(data3)
data4=df.loc[df['Test preparation']=='completed']
print(data4)

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
11    male             none           23
13    male             none           28
14  female             none           41
15  female             none           13
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
    Gender Test preparation  Total Marks
5   female        completed           40
10    male        completed           44
12    male        completed           43
16  female        completed           48
21    male        completed           44
26  female        completed           50
27  female        completed           43

In [211]:
# Null hypothesis : Test preparation didnt help students score.
# Alternative hypothesis:Test preparation helped students score.
# level of significance=5%=0.05

In [212]:
degrfrdm=(len(data3)-1)+(len(data4))
degrfrdm

27

In [213]:
# T critical value
t_critic = stats.t.ppf(q=1-0.05/2, df=degrfrdm)
t_critic

2.0518305164802833

In [214]:
# test statistics
stats.ttest_ind(df['Total Marks'][df['Test preparation']=='none'],
              df['Total Marks'][df['Test preparation']=='completed'])

Ttest_indResult(statistic=-3.6143637527769217, pvalue=0.0012671292457320106)

Here p-value is 0.001 which is less than or equal to 0.05 .we reject the null hypothesis. 
### Conclusion : Hence test prepartion helps the students.